[Unit]
Description=Besu Enterprise Ethereum java client
After=syslog.target network.target

[Service]
User=ec2-user
Environment=HOME=/home/ec2-user
Environment=LOG4J_CONFIGURATION_FILE=/opt/log4j/besu-log-config.xml
Environment='BESU_OPTS="-XX:StartFlightRecording=disk=true,delay=15s,dumponexit=true,filename=/tmp/recording.jfr,maxsize=1024m,maxage=1d,settings=profile,path-to-gc-roots=true"'
Type=simple
ExecStart=/bin/sh -c "/home/ec2-user/besu/current/bin/besu --config-file=/home/ec2-user/config/config.toml >> /var/log/besu/besu.log 2>&1"
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
